
    <div class="row clearfix">
        <label class="col-sm-4 control-label">{{data.label}}</label>
        <div class="col-sm-6">
            <input input-standard
                   type="text"
                   name="input"
                   [disabled]="data.isDisabled"
                   class="form-control"
                   ng-model="data.values[0].value"
                   ng-pattern="validate"
                   ng-required="varscope.required"
                   [placeholder]="data.placeholder" />
        </div>
        <div class="col-sm-1">
            <span style="font-size:xx-large; vertical-align:bottom; ">
                <b ng-style="{color: getValidationColor(innerForm.input.$invalid)}">*</b>
            </span>
        </div>
    </div>
    <div class="row clearfix" ng-show="varscope.errorMessage.length > 0">
        <div class="col-sm-4"></div>
        <div class="col-sm-7">
            <div class="alert alert-danger">
                <!--style="margin-left:20px; margin-right:20px">-->
                <i class="fa fa-exclamation-triangle"></i>&nbsp;{{varscope.errorMessage}}
            </div>
        </div>
    </div>





